<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mustafa Eker PersonaL WebSite</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:400,400i,700,700i" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
        

 
 
     
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="700">
    
    <section class="intro">
        <div class="inner">
            <div class="content">
                <div id="wellcome-logo">
                    <img src="./img/logo.png" alt="logo">

                </div>

                <div id="wellcome-msg">
                    <p class="wellcome">Hi, I'm Mustafa</p>
                    <p class="wellcome">I develope, model and design.</p>
                </div>

                <div id="wellcome-btn">
                    <a href="#Personal">
                        <p>learn more about what I do<br>
                            <i class="fas fa-angle-down"></i> </p>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!--donwload cv                
          <a href="img/profile_picture.png" download="Mustafa_Eker_CV"><button id="about-cv" class="">
          <i class="fa fa-download"></i>Curriculum Vitae</button></a>
          -->

<div class="row">
       
        <!--Menu Col.-->
<div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 duo" >
    <div id="menu-col" class="navbar sticky-top py-0 pr-0">
        
            <div id="profilewrapper">   
             <img id="profile-img" src="img/profile_picture.jpg" alt="Profile_Image">
             <img id="profile-title" src="img/profile_title.png" alt="Profile_Title">
            </div>
            
            <ul class=" nav navbar-nav vertical-menu">
                <li> <a href="#Personal">Personal Info</a></li>
                <li> <a href="#Skills">Skills</a></li>
                <li> <a href="#Portfolio">Portfolio</a></li>
                <li> <a href="#Experience">Experience</a></li>
                <li> <a href="#Education">Education</a></li>
                <li> <a href="#Certificates">Certificates</a></li>
                <li> <a href="#Awards">Awards</a></li>
                <li> <a href="#Interests">Interests</a></li>
                <li> <a href="#Contact">Contact</a></li>
                <!-- <li> <a href="#section10">Blog</a></li>  -->
            </ul>
            
            <ul id="links">
                <li><a href="https://github.com/mustafaeker"><i class="fa fa-github  fa-1x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/mustafa-eker-2169496b/"><i class="fa fa-linkedin  fa-1x"></i></a></li>
                <li><a href="https://www.facebook.com/mustafa.eker.3192?ref=bookmarks"><i class="fa fa-facebook  fa-1x"></i></a></li>
                <li><a href="https://www.deviantart.com/mustafa-eker"><i class="fa fa-deviantart  fa-1x"></i></a></li>
            </ul>
                       
    </div>
</div>
        
        
        
        <!--Content Col.-->
        <div class="col-sm-8 col-md-9 col-lg-9 col-xl-9 duo">
        
        <!--Content-Personal-->
<div id="Personal" class="section-wrapper-odd">
    <div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="ios-finger-print"></ion-icon>
            <p><span class="text"> Personal information</span></p>
        </h2>
        <p><small><em><blockquote class="blockquote text-justify"><small>
                <p class="mb-0">"A friday afternoon at my office in London while I was watching the scene from my window and planning coming weekend, someone came and asked me:<br>'I have a tough task for you, would you be an applicant?'<br>And I said,<br>Yes I do."</p></small>
            <footer class="blockquote-footer text-right">Eray Yüksek<br><cite title="Source Title">President of Futurist Assosiation</cite></footer>
            </blockquote>
            </em>
            </small>
        </p>
        
        <p class="text-center text-justify"><small>Like Eray I always try to Getting out of my     comfort zone and curiosity inside my soul to | technology | future | computer science |     always push me to new adventures by accepting tasks of those my heart wishpers to me.     With a highly diverse experience background also I excel at collaborating with teams     of various knowledge sets. To be an adaptable and self-motivated person always           encourages me to be a step ahead.</small></p>
        <p class="text-center text-justify lead">I'm passionate about learning and working the lastest technologies on programming and design in digital world.</p>
        <p class="text-center text-justify"><small>For now I'm located in Ankara, Turkey for five years, very lucky to be the husband of a beatiful wife and brillant son. I love to have new interests and dive in deeper and deeper information to meet with new people and fantastic communities, both in real and digital environments.</small></p>
    </div>
</div>
       
        <!--Content-Skills-->
<div id="Skills" class="section-wrapper-even">
    <div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="flask"></ion-icon>
            <p><span class="text">Skills</span></p>
        </h2>
        <div class="row">
            <!--01---Development-->
<div class="col">
    <h4 class="headline ">
        <p><span>Development</span></p>
    </h4>

    <table class="table table-borderless">
        <tr>
            <th scope="row" class="skill-name">HTML 5</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">CSS 3</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">javaScript ES6</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">Arduino</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">PLC</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
   
        <tr>
            <th scope="row" class="skill-name" style="color: #e6e3e3;">..............................</th>
            <td scope="row" class="skill-name text-left" style="color: #e6e3e3;">..............................</td>
        </tr>
    </table>
</div>
            <!--02---Model & Design-->
<div class="col">
    <h4 class="headline ">
        <p><span>Modeling | Design</span></p>
    </h4>

    <table class="table table-borderless">
        <tr>
            <th scope="row" class="skill-name">3D Max</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">Photoshop</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">Autocad</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        <tr>
            <th scope="row" class="skill-name">Unity 3D</th>
            <td class="text-left">
                <i class="fas fa-circle skill-icon"></i>
                <i class="fas fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
                <i class="far fa-circle skill-icon"></i>
            </td>
        </tr>
        
        <tr>
            <th scope="row" class="skill-name" style="color: #e6e3e3;">..............................</th>
            <td scope="row" class="skill-name text-left" style="color: #e6e3e3;">..............................</td>
        </tr>

    </table>
</div>
 </div>
 
        <div class="row">
            <div class="col">
                <h4 class="headline ">
                    <p><span>Familiar Tools</span></p>
                </h4>
                <div id="techs-container" class="text-center">
           
<tools v-for="tool in tools"
             v-bind:key="tool.id"
             v-bind:name="tool.name" 
             ></tools>
		    
</div>
            </div>
        </div>
            
</div>
</div>
<!----------------------------------------------------------->
               
                    <!--Content-Portfolio-->
            
<div id="Portfolio" class="section-wrapper-odd">
<div class="section-header">
    <h2 class="headline ">
        <ion-icon class="icons" name="ios-images"></ion-icon>
        <p><span class="text">Portfolio</span></p>
    </h2>
   
        <div id="content">
            <div class="inner-part" id="portfolio-inner">
                <portfolio
                v-for="visual in visuals"
                v-bind:key="visual.id"
                v-bind:name="visual.name"
                v-bind:description="visual.description"
                v-bind:no="visual.id"
                ></portfolio>
</div>
        </div>
</div>
</div>
            
<!-----------------------------------------------------------> 
                           
                    <!--Content-Experience-->
            
<div id="Experience" class="section-wrapper-even">
<div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="ios-briefcase"></ion-icon>
            <p><span class="text">Experience</span></p>
        </h2>
                <experience
                v-for="exp in exps"
                v-bind:key="exp.id"
                v-bind:color="exp.color"
                v-bind:location="exp.location"
                v-bind:period="exp.period"
                v-bind:position="exp.position"
                v-bind:firm="exp.firm"
                v-bind:description="exp.description"
                ></experience>    
</div>   
</div>                 
<!-----------------------------------------------------------> 
               
                    <!--Content-Education-->  
                              
<div id="Education" class="section-wrapper-odd">
    <div class="section-header">
        <h2 class="headline "><ion-icon class="icons" name="ios-school">
            </ion-icon><p><span class="text">Education</span></p>
        </h2>
    </div>
                <education
                v-for="edu in edus"
                v-bind:key="edu.id"
                v-bind:logo="edu.logo"
                v-bind:name="edu.name"
                v-bind:period="edu.period"
                v-bind:department="edu.department"
                v-bind:faculty="edu.faculty"
                v-bind:description="edu.description"
                ></education> 
</div>
    
<!-----------------------------------------------------------> 
               
                    <!--Content-Certificates-->
                    
<div id="Certificates" class="section-wrapper-even">
    <div class="section-header">
        <h2 class="headline ">
   
            <ion-icon class="icons" name="ios-ribbon"></ion-icon>
            <p><span class="text">Certificates</span></p>
        </h2>

      <certificate
      v-for="cert in certs"      
      v-bind:key="cert.id"
      v-bind:inst="cert.inst"
      v-bind:date="cert.date"
      v-bind:licence="cert.licence"
      v-bind:name="cert.name"
      v-bind:link="cert.link"
      ></certificate> 

      </div>
</div>          
<!-----------------------------------------------------------> 
               
                    <!--Content-Awards-->
                    
<div id="Awards" class="section-wrapper-odd">
    <div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="ios-trophy"></ion-icon>
            <p><span class="text">Awards</span></p>
        </h2>
        

      <award
      v-for="award in awards"      
      v-bind:key="award.id"
      v-bind:degree="award.degree"
      v-bind:inst="award.inst"
      v-bind:date="award.date"
      v-bind:name="award.name"
      v-bind:subtitle="award.subtitle"
      v-bind:page="award.page"
      v-bind:pagedesc="award.pagedesc"
      v-bind:link="award.link"
      v-bind:linkdesc="award.linkdesc"
      v-bind:info="award.info"
      ></award>         
        
     </div>
</div>       
        
<!----------------------------------------------------------->   
                
                    <!--Content-Interests-->
                 
<div id="Interests" class="section-wrapper-even">
    <div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="ios-planet"></ion-icon>
            <p><span class="text">Interests</span></p>
        </h2>
        <div class="inte-wrap">
<h3><span class="badge badge-success">Indoor Gardening</span></h3>
<h3><span class="badge badge-primary">Technology</span></h3>
<h3><span class="badge badge-dark">Arduino</span></h3>
<h3><span class="badge badge-warning">Theology</span></h3>
<h3><span class="badge badge-info">Freshwater Aquariums</span></h3>
<h3><span class="badge badge-warning">Philosophy</span></h3>
<h3><span class="badge badge-dark">Soft Robotics</span></h3>
<h3><span class="badge badge-success">Aquaponics</span></h3>
<h3><span class="badge badge-primary">AI</span></h3>
<h3><span class="badge badge-warning">Futurism</span></h3>
<h3><span class="badge badge-info">Aquascaping</span></h3>
<h3><span class="badge badge-danger">Running</span></h3>
<h3><span class="badge badge-dark">Electronics</span></h3>
<h3><span class="badge badge-warning">Social Engineering</span></h3>


    </div>
</div>
</div>
         
<!-----------------------------------------------------------> 
                   
                  <!--Content-Contact-->
                  
<div id="Contact" class="section-wrapper-odd">
    <div class="section-header">
        <h2 class="headline ">
            <ion-icon class="icons" name="ios-contacts"></ion-icon>
            <p><span class="text">Contact</span></p>
        </h2>


<div id="contact">

        <div id="form-container" class="my-5">
        <form method="post" action="https://formspree.io/info@mustafaeker.com">
            <input class="form-item" name="Name" type="text" placeholder="Name" >

            <input class="form-item" name="Email Address" type="email" placeholder="Email Address">

            <textarea name="Message" id="form-message" cols="30" rows="5" placeholder="Message..."></textarea>

            <input class="button " id="button-send" type="submit" value="Send" >
        </form>
        </div>
</div>
</div>
</div>

<!----------------------------------------------------------->
</div>
</div>

<!----------------------- FOOTER  --------------------------->

<footer>

         <div id="footer-container-bottom"> 
             <div class="inner-part">   
                 <div id="footer-down">
                     <p>Copyright © mustafaeker.com 2018</p>
                 </div>
             </div>
         </div>
     </footer>
     
<!----------------------------------------------------------->


<!----------------------- SCRIPTS  --------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js" ></script>
    <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
    <script src="scripts/Vues.js"></script>
    
<script>
                        
                        // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
         if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
        // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
                
                        
              $(window).scroll(function() {
		var scrollDistance = $(window).scrollTop();
    
		         $('.section-wrapper-even, .section-wrapper-odd').each(function(i) {
				if ($(this).position().top+400 <= scrollDistance) {
						$('.nav a.active').removeClass('active');
                        $('.nav a').eq(i).addClass('active');
              	}
		});    
}).scroll();          
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                      
                          </script>
                    
                     
</body>

</html>